@model IEnumerable<Predrag_Djokic.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2>Lista racuna</h2>


<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NosilacRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineBanking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktivan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr  style="background-color="green")>
        <td>
            @Html.DisplayFor(modelItem => item.BrojRacuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NosilacRacuna)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.OnlineBanking)*@
            @(item.OnlineBanking ? "Da" : "Ne")
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Aktivan)*@
            @(item.Aktivan ? "Da" : "Ne")
        </td>
        <td>
            @Html.ActionLink("Otvori", "Details", new { id = item.Id }) |
            @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id = item.Id }) |
       


            
            @if (item.Aktivan)
            {
                @Html.ActionLink("Deaktiviraj", "Details", new { id = item.Id });
            }
            else
            {

                @Html.ActionLink("Aktiviraj", "Details", new { id = item.Id });

            }
        </td>
    </tr>
}

</table>
@Html.Partial("_Create", new Predrag_Djokic.Models.Racun())

<!--CREATE DEO VIEW-a-->

@*<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Racun</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NosilacRacuna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NosilacRacuna, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NosilacRacuna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aktivan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Aktivan)
                    @Html.ValidationMessageFor(model => model.Aktivan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OnlineBanking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OnlineBanking)
                    @Html.ValidationMessageFor(model => model.OnlineBanking, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
